@import url(../node_modules/tachyons/css/tachyons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'italiana';
  background-color: #ffd4eb;
}
a {
  color: inherit;
  text-decoration: none;
}
#root {
  background-color: #ffd4eb;
}
.primary {
  color: #3e434f;
}
.fit {
  object-fit: cover;
}
