@import url(../node_modules/tachyons/css/tachyons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffd4eb;
}
a {
  color: inherit;
  text-decoration: none;
}
#root {
  background-color: #ffd4eb;
}
.primary {
  color: #ffd4eb;
}
.bg-primary {
  background-color: #ffd4eb;
}
.secondary {
  color: #ffebf65c;
}
.bg-secondary {
  background-color: #ffebf65c;
}
.fit {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}
.bg-divider {
  background-color: #ffadf7;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.italiana {
  font-family: 'Italiana', serif;
}
